
/*@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
*/

/*css box model*/

/* section #1 */

.container-wraper {
	width: 1088px;
	margin: 0 auto ;
	margin-top: 82px;
	/*background: grey;*/
}
.container-title {
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: bold;
	color: #5863F8;
	margin-bottom: 5px;
}
.text-1 {
	/*margin-bottom: 50px;*/
	font-size: 42px;
	font-weight: extrabold;
	width: 498px;
	/*line-height: 50px;*/
}
.food {
	font-size: 14px;
	font-weight: bold;
	color: #5863F8;
	/*padding-top: 35px;*/
	/*line-height: 25px;*/

}
.fresh-fish {
	font-size: 18px;
	font-weight: semibold;
	color: #000000;
	margin-bottom: 10px;
	/*line-height: 25px;*/

}
.fresh-food {
	font-size: 14px;
	font-weight: medium;
	color: #B1B1B1;
	margin-bottom: 36px;
	letter-spacing:1px
}
.First-block {
	font-family: Poppins;
}

.left-block {
	width: 536px;
	background: #F8F8F8;
	display: inline-block;
	margin-right: 16px;
}

.right-block{
	width: 536px;
	background: #BE2B2B;
	display: inline-block;
}

.desert{
    font-size: 14px;
	font-weight: bold;
	color: #5863F8;
	/*padding-top: 35px;*/

}

.Chocolate{
	font-size: 18px;
	font-weight: semibold;
	color: #000000;
	margin-bottom: 10px;
}
.fresh-food-2{
    font-size: 14px;
	font-weight: medium;
	color: #B1B1B1;
	letter-spacing:1px
}
.text-block {
	display: inline-block;
	width: 260px;
}

.image-block{
	vertical-align: middle ;
}



/*section#2*/

.block1 {
	width: 352px;
	background: #F8F8F8;
	display: inline-block;
	margin-right: 16px;

}
.block2 {
	width: 352px;
	background: #F8F8F8;
	display: inline-block;
	margin-right: 16px;
}
.block3 {
	width: 352px;
	background: #F8F8F8;
	display: inline-block;

}
.block-text{
	width: 260px;
	margin:  0 auto;
	text-align: center;

}